* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}

ul,
a,
p,
li,
h1,
h2 {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-weight: 400;
}

.header {
    background-color: #858370;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
    height: 80px;
}

.nav-list__item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.nav-list__item::before {
    content: "";
    position: absolute;
    width: 0;
    left: auto;
    background-color: #F3ECE0;
    height: 3px;
    bottom: -2px;
    transition: all .3s;
    right: 0;
}

.nav-list__item:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}

.nav-list__link, .footer-link {
    color: #F3ECE0;
    font-size: 20px;
}

.section {
    margin-top: 50px;
}

.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.profile-photo img {
    width: 200px;
    height: 250px;
}

.name {
    font-size: 42px;
    text-align: center;
}

.hr {
    width: 400px;
    background-color: #858370;
    height: 2px;
    margin: 30px 0;
}

.profile-job {
    font-size: 24px;
    text-align: center;
}

.section-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-info__wrapper {
    width: 600px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #858370;
}

.section-info__wrapper:nth-child(5), .section-info__wrapper:nth-child(6) {
    border-bottom: none;
}

.section-heading {
    color: #858370;
    margin-bottom: 20px;
}

.contacts-list,
.skills-list,
.education-list,
.languages-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts-list__item,
.skills-list__item,
.code-text,
.education-list__item,
.languages-list__item, .footer-year, .about-descr {
    font-size: 18px;
}

.education-list2__item {
    margin-top: 10px;
    margin-left: 30px;
}

.education-list2__link {
    color: #858370;
}

.footer {
    background-color: #858370;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.footer-logo {
    width: 121px;
    height: 45px;
}

.footer-left {
    display: flex;
    align-items: center;
    column-gap: 20px;
}